agent {
  server_address    = "{{ .SpireServerAddress }}"
  server_port       = {{ .SpireServerPort }}
  log_level         = "DEBUG"
  trust_domain      = "{{ .TrustDomain }}"
  trust_bundle_path = "bundle.crt"
}

plugins {
  KeyManager "memory" {
    plugin_data {}
  }

  NodeAttestor "x509pop" {
    plugin_data {
      private_key_path = "/etc/cf-instance-credentials/instance.key"
      certificate_path = "/etc/cf-instance-credentials/instance.crt"
    }
  }

  {{if .CloudFoundrySVIDStoreEnabled}}
  SVIDStore "cf" {
      plugin_cmd = "/home/vcap/deps/0/bin/svidstore-cf"
      plugin_checksum = "7bad16b930e3adbda1d6bb4ba0d234bfbd9d9e95d47a5ca6efc6f8b9aa72f18e"
      plugin_data {
          write_path = "/tmp/spire-agent"
      }
  }
  {{end}}

  
  WorkloadAttestor "unix" {}
}
